<section class="section cta-sec parallax darker-overlay" style="background-image:url({{ host }}/images/parallax.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 text-center">
				<h2 class="h1 font-weight-bold text-white">Call To Action Section</h2>
				<p class="mb-4 text-opac">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
				<a href="portfolio.html" class="btn btn-primary btn-line light btn-rounded text-uppercase">View My Works</a>
			</div>
		</div>
	</div>
</section>