<footer class="section site-footer bg-dark">
    <div class="container">
        <div class="row">
        <div class="col-lg-4 col-md-3">
            <img class="logo-img my-3" src="{{ host }}/images/logo-alt.png" alt="SimplyCreatif">
        </div>
        <div class="col-lg-4 col-md-5 text-center">
            {# <ul class="ft-nav my-3 d-flex align-content-center justify-content-center">
            <li class="mx-3"><a href="javascript:void(0);">Privacy</a></li>
            <li class="mx-3"><a href="javascript:void(0);">Terms</a></li>
            </ul> #}
        </div>
        <div class="col-md-4">
            <ul class="ft-nav social-nav my-3">
            <li class="mx-1"><a href="javascript:void(0);" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li class="mx-1"><a href="javascript:void(0);" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li class="mx-1"><a href="javascript:void(0);" target="_blank"><i class="fab fa-pinterest"></i></a></li>
            </ul>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
            <hr class="mt-0 mb-4">
            <p class="copyright text-center m-0">Copyright © 2019 SimplyCreatif.</p>
        </div>
        </div>
    </div>
</footer>